#map {
  width: 100%;
  height: 100%;
}

.track-boat {
  right: 10px;
  top: 10px;
  position: fixed;
  z-index: 1;
}

.track-boat > button {
  border: none;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
}

.locate-me {
  right: 10px;
  bottom: 50px;
  position: fixed;
  z-index: 1;
}

.locate-me > button {
  border: none;
  width: 50px;
  height: 50px;
  opacity: 0.5;
}
